
<script src="/dist/common.js"></script>
<script src="/dist/index.js"></script>
<pre>
 <code>
    setTimeout(function(){
      $.ajax({
        url: '/user.action',
        method: 'get',
        success: function(data) {
          // 因为服务端'Content-Type': 'application/json' 所以客户端不用JSON.parse
          var liStr = data.map(function(ele){
            return "<li>" + ele + "</li>"
          }).join('')
          $('#root').html(liStr)
        },
        error: function(err) {
          console.log(err)
        }
      })
    }, 1000)
 </code>
</pre>